@import url(global.css);
@import url(nav.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

main {
  padding-inline: 16px;
  margin: 0 auto;
  max-width: 1280px;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 38px;
}

.vehicle-card {
  width: 1280px;
  height: 520px;
  border: 1px solid var(--tarnished-silver);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.vehicle-info {
  margin: auto;
  padding-right: 20px;
  flex-direction: column; 
  gap: 15px;
}

.vehicle-info h3 {
  padding-bottom: 20px;
  font: var(--text-lg);
}

.vehicle-card img {
  width: 72%;
  height: 100%;
  object-fit: cover;
}

.vehicle-info p {
  font: var(--text);
  color: var(--tarnished-silver);
  margin: 4px 0;
}
